    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml" />
    <link rel="icon" type="image/svg+xml" href="/images/favicon.svg">
	
	<script type="text/javascript" src="/js/jquery-3.5.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery-inline-footnotes.js"></script>
	<script type="text/javascript" src="/js/custom.js?d={{ site.time | date: '%s%N' }}" }}"></script>
	<script type="text/javascript">
	$(function() {
		$('.footnote').inlineFootnote({
			hideFromContent: ".reversefootnote"
		});
		{% if page.strip_footnotes %}
		$('.footnotes').hide()
		{% endif %}
	})
	</script>
