@mixin titleStyle {
	color: $darkerGray;
	font-family: $helveticaNeue;
	font-size: 24px;
}

h1, h2, h3, h4 {
 margin-top: .5em;
}

/* format the display of the date a post was made */
.date {
	font-size: 14px;
	font-weight: bold;
	font-style: normal;
}

/* the listing of what catagory a post belongs to */
.category {
	font-size: small;
	.title {
		font-weight: bold;
	}
	line-height: 0.6;
}

/* used for links to posts */
.postlink {
  @include titleStyle;
	font-weight: bold;
	margin: 0;
	padding: 0;
	line-height: 0.8;
}

body {
	font-size: 18px;
}

/* format of a description of an blog entry */
.entry {
	font-size: 16px;
}

/* format of the link to "read more" of an entry */
.continue {
	font-size: smaller;
	background-color: $lightGray;
	padding: 2px 4px;
}

/* style for paganiation links at the bottom of the archives page */
.pagination {
    display: inline-block;
    font-size: smaller;
	.basic {
	    color: $black;
	    float: left;
	    padding: 8px 16px;
	    text-decoration: none;
	}
	a {
		@extend .basic;
	}
	.active {
	    background-color: $complement;
	    color: $white;
	}
	.selflink {
		@exend .basic;
	}
}
.pagination a:hover:not(.active) {background-color: $lightGray;}

.center {
	text-align: center;
}

.footnote {
  font-size: 0.8em;
  vertical-align: super;
}

.footnote:before {
  content: "[";
}
.footnote:after {
  content: "]";
}

.footnotes {
  font-size: 0.8em;
  margin-top: 4em;
}

.footnotes:before {
  content: "Footnotes";
  width: 220px;
  width-min: 200px;
  padding-top: 20px;
  font-weight: 400;
  font-size: 1.2em;
  border-top: 0.5px solid black;
}

/* displays a footnote like a tooltip */
#footnote_box {
  background: #222;
  font-size: 0.8em;
  font-weight: 500;
  color: white;
  box-shadow: 0px 0px 5px #888;
  border: 1px solid #888;
  padding: 0 10px;
  margin: 10px;
}

/* style for the list of line numbers next to a code listing */
.lineno {
  padding-right: 6px;
  margin-right: 6px;
  border-right: 1px solid #999;
}

/* for lists formatted the way we like them */
.detail li {
  list-style-type: circle;
  list-style-position: outside;
}

/* used for tables that are basically like a definion list, key and value */
table.defs {
  margin-top: -1em;
  border-collapse: separate;
  border-spacing: 4px;
  td {
    margin: 10px;
    &:nth-child(1) {
      padding-right: 10px;
      border-right: 1px solid $medGray;
    }
    &:nth-child(2) {
      padding-left: 10px;
    }
  }
}

.meta-listing {
}

.meta-head {
  @include titleStyle;
  line-height: 2em;
  font-size: 18px;
}

.meta-items {
  margin-left: 2em;
  display: none;
}

.meta-item {
  line-height: 1.5em;
}

.meta-item-date {
  font-size: .8em;
  font-style: italic;
}

.twiddle {
  vertical-align: middle;
  fill: $darkerGray;
}

.rotate {
  transition: all 300ms linear;
  transform: rotate(0deg);
}

.rotate.down {
  transition: all 300ms linear;
  transform: rotate(90deg);
}

summary {
  outline: none;
}

details.eino {
background-color: oldlace;
  summary {
    cursor: pointer;
    background-color: $pageBGColor;
  }
  > p {
    margin-left: 1em;
  }
}

.eino-credits {
	margin-top: 2em;
	font-size: smaller;
  .eino-copyright {
	  font-style: italic;
  }

  .eino-contact {
  }
}

.lSAction > .lSPrev, .lSNext {
		filter: invert(100%);
}

/* container for <a class="eino-photo"><img></a> that hold each thumbnail */
.eino-thumbs {
	.eino-photo {
		margin: 10px;
	}
}
